<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tengyuan.mapper.SrmMeterreaddetailMapper">
    
    <resultMap type="SrmMeterreaddetail" id="SrmMeterreaddetailResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="roomCode"    column="room_code"    />
        <result property="meterReadType"    column="meter_read_type"    />
        <result property="actualUsage"    column="actual_usage"    />
        <result property="totalActualUsage"    column="total_actual_usage"    />
        <result property="upperTotalActualUsage"    column="upper_total_actual_usage"    />
        <result property="createDateTime"    column="create_date_time"    />
        <result property="orgCode"    column="org_code"    />
    </resultMap>

    <sql id="selectSrmMeterreaddetailVo">
        select
            id, code, room_code, meter_read_type, actual_usage, total_actual_usage, upper_total_actual_usage, create_date_time, org_code
        from srm_meterreaddetail
    </sql>

    <select id="selectSrmMeterreaddetailList" parameterType="SrmMeterreaddetail" resultMap="SrmMeterreaddetailResult">
        <include refid="selectSrmMeterreaddetailVo"/>
        <where>  
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="roomCode != null  and roomCode != ''"> and room_code = #{roomCode}</if>
            <if test="meterReadType != null "> and meter_read_type = #{meterReadType}</if>
            <if test="actualUsage != null "> and actual_usage = #{actualUsage}</if>
            <if test="totalActualUsage != null "> and total_actual_usage = #{totalActualUsage}</if>
            <if test="upperTotalActualUsage != null "> and upper_total_actual_usage = #{upperTotalActualUsage}</if>
            <if test="createDateTime != null "> and create_date_time = #{createDateTime}</if>
            <if test="orgCode != null  and orgCode != ''"> and org_code = #{orgCode}</if>
        </where>
    </select>
    
    <select id="selectSrmMeterreaddetailById" parameterType="Long" resultMap="SrmMeterreaddetailResult">
        <include refid="selectSrmMeterreaddetailVo"/>
        where id = #{id}
    </select>

    <insert id="insertSrmMeterreaddetail" parameterType="SrmMeterreaddetail" useGeneratedKeys="true" keyProperty="id">
        insert into srm_meterreaddetail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">code,</if>
            <if test="roomCode != null">room_code,</if>
            <if test="meterReadType != null">meter_read_type,</if>
            <if test="actualUsage != null">actual_usage,</if>
            <if test="totalActualUsage != null">total_actual_usage,</if>
            <if test="upperTotalActualUsage != null">upper_total_actual_usage,</if>
            <if test="createDateTime != null">create_date_time,</if>
            <if test="orgCode != null">org_code,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">#{code},</if>
            <if test="roomCode != null">#{roomCode},</if>
            <if test="meterReadType != null">#{meterReadType},</if>
            <if test="actualUsage != null">#{actualUsage},</if>
            <if test="totalActualUsage != null">#{totalActualUsage},</if>
            <if test="upperTotalActualUsage != null">#{upperTotalActualUsage},</if>
            <if test="createDateTime != null">#{createDateTime},</if>
            <if test="orgCode != null">#{orgCode},</if>
         </trim>
    </insert>

    <update id="updateSrmMeterreaddetail" parameterType="SrmMeterreaddetail">
        update srm_meterreaddetail
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="roomCode != null">room_code = #{roomCode},</if>
            <if test="meterReadType != null">meter_read_type = #{meterReadType},</if>
            <if test="actualUsage != null">actual_usage = #{actualUsage},</if>
            <if test="totalActualUsage != null">total_actual_usage = #{totalActualUsage},</if>
            <if test="upperTotalActualUsage != null">upper_total_actual_usage = #{upperTotalActualUsage},</if>
            <if test="createDateTime != null">create_date_time = #{createDateTime},</if>
            <if test="orgCode != null">org_code = #{orgCode},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSrmMeterreaddetailById" parameterType="Long">
        delete from srm_meterreaddetail where id = #{id}
    </delete>

    <delete id="deleteSrmMeterreaddetailByIds" parameterType="String">
        delete from srm_meterreaddetail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>